.Card {
    background-color: rgba(73, 73, 73, 0.8);
    margin: 2%;
    padding: 0 10px;
    height: 480px;
    width: 360px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 12px;
}

.Player-header {
    margin-top: 3%;
    height: 250px;
    width: 99%;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 20px 20px 0 0;
    border: 2px solid #6e0010;
}

.Photo {
    border-radius: 20px 20px 0 0;
    width: 100%;
    margin: 0;
    padding: 0;
}

.Player-name {
    height: 50px;
    background-color: rgba(164, 30, 53, 0.8);
    margin-top: -6px;
    border: 2px solid #6e0010;
    text-align: center;
    padding: 0;
}

.Name {
    margin: 0;
    font-size: 120%;
    line-height: 45px;
}

.Player-stats {
    background-color: rgba(34, 34, 34, 0.8);
    color: #eee;
    border-radius: 0 0 20px 20px;
    line-height: 14px;
    height: 192px;
    width: 96%;
    margin-top: 8px;
    border: 3px solid #6e0010;
    padding-left: 1%;
}

.Ranks {
    float: left;
    margin-top: 4px;
    padding: 0 8px 0 12px;
    line-height: 20px;
    width: 40%;
    background-color: rgba(273, 273, 273, 0.15);
    border-radius: 0 0 0 16px;
    height: 184px;
}

.Rank-icon {
    width: 38px;
    float: right;
    margin-top: -10px;
}

.Ranks h4 {
    margin: 0 0 -6px 0;
    padding-top: 8px;
}

.Rank-list {
    margin-top: -8px;
    padding-bottom: 1px;
}

.Playstyle {
    float: right;
    margin: 4px 4px 0 0;
    padding: 0 8px 0 12px;
    line-height: 20px;
    width: 46%;
    background-color: rgba(273, 273, 273, 0.15);
    border-radius: 0 0 16px 0;
    height: 184px;
}

.Playstyle h4 {
    margin: 0 0 -6px 0;
    padding-top: 8px;
}