.Card {
    background-color: rgba(73, 73, 73, 0.8);
    margin: 2%;
    padding: 0 10px;
    height: 480px;
    width: 360px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.Player-header {
    margin-top: 3%;
    height: 250px;
    width: 99%;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 20px 20px 0 0;
    border: 2px solid #6e0010;
}

.Photo {
    border-radius: 20px 20px 0 0;
    width: 100%;
    margin: 0;
    padding: 0;
}

.Player-name {
    height: 50px;
    background-color: rgba(164, 30, 53, 0.8);
    margin-top: -6px;
    border: 2px solid #6e0010;
    text-align: center;
    padding: 0;
}

.Name {
    margin: 0;
    font-size: 120%;
    line-height: 45px;
}

.Player-stats {
    background-color: rgba(34, 34, 34, 0.8);
    color: #eee;
    display: block;
    border-radius: 0 0 20px 20px;
    line-height: 14px;
    height: 192px;
    width: 96%;
    margin-top: 8px;
    border: 3px solid #6e0010;
    padding-left: 2%;
}

.Ranks {
    margin: 0;
    line-height: 20px;
    width: 40%;
}

.Rank-icon {
    width: 38px;
    float: right;
    margin-top: -10px;
}