.Header {
    height: 48px;
    background-color: #222;
    padding: 0.5%;
    color: white;
    display: flex;
    width: 99%;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 10;
}

.App-title {
    font-size: 150%;
}

.RLS {
    cursor: pointer;
    height: 30px;
}