.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 40px;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.App-footer {
    font-size: 1.1em;
    background-color: #222;
    height: 120px;
    color: white;
    text-align: center;
}