.App {
    font-family: 'Titillium Web', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.App-content {
    flex: 1 0 auto;
    width: 100%;
}
.App-content:after {
    display: block;
    height: 0;
    visibility: hidden;
}